<div class="p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 w-full">
  <table mat-table [dataSource]="dataSource()" matSort (matSortChange)="sortData($event)" >
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? toggleAllRows() : null"
                      [checked]="selection().hasValue() && isAllSelected()"
                      [indeterminate]="selection().hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection().toggle(row) : null"
                      [checked]="selection().isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'product_category_tree_name' | translate }} </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Parent Column -->
    <ng-container matColumnDef="parentProductCategoryId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'product_category_tree_parent_category_id' | translate }} </th>
      <td mat-cell *matCellDef="let element"> {{element.parentProductCategoryId || ''}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection().toggle(row)"></tr>

  </table>
  <mat-paginator
    [length]="totalElements()"
    [pageSizeOptions]="pageSizeOptions"
    [pageSize]="pageSize()"
    [showFirstLastButtons]="true"
    (page)="handlePageEvent($event)"
  >

  </mat-paginator>
</div>


