<div class="flex flex-row justify-between items-center py-2 mx-auto px-10 border-2 border-b-orange-700">
  <div class="flex flex-row justify-between items-center">
    <div class="flex flex-row justify-center mr-12">
      <span class="text-2xl text-orange-700 font-bold">Farmbyte.cm</span>
    </div>
    <farmbyte-navbar-module/>
    <farmbyte-navbar-menu />
  </div>
  <div class="flex flex-row justify-end items-center gap-3">
    <div class="">Langue</div>
    <div class="">Notifs</div>
    <div class="">Profil</div>
  </div>
</div>
