<nav class="flex flex-row justify-between items-center px-4 py-2 bg-white shadow-2xl text-yellow-500 w-full h-[60px]">
    @if(navbarStore.showSearchInput()) {
      <app-navbar-search class="w-full"/>
    } @else {
      <app-navbar-left class="xm:hidden md:block"/>
      <app-navbar-right class="xm:hidden md:block"/>
    }
  <div class="md:hidden flex flex-col items-end justify-center border-gray-400 border-2 w-full">
    <div class="flex items-center justify-center rounded-full cursor-pointer" (click)="onMobileNavbar()">
      <span class="material-symbols-outlined">menu</span>
    </div>
      <app-navbar-left class="w-full"/>
  </div>
</nav>

