<a id="dropDownMenuItem_profile" (click)="toggleDropDown()" class="relative flex text-gray-700 py-1 px-2 cursor-pointer" >
  <div class="flex flex-row justify-content-center align-items-center gap-1">
    <span class="hover:text-purple-500">
      <img class="size-1.5rem object-cover border-circle" src="./assets/images/profile.png" alt="profile">
    </span>
  </div>
  @if(isOpen()) {
    <div
      [ngClass]="isOpen()? 'transition ease-out duration-1000 transform opacity-100 scale-100' : 'transition ease-in duration-1000 transform opacity-0 scale-10'"
      class="absolute right-0 mt-2.7rem w-8rem border-top-2 border-purple-500  bg-white  border-round-bottom-xl shadow-6 z-3">

      <a class="flex flex-row justify-start items-center text-sm p-2 gap-2 hover:transition hover:duration-300 hover:bg-gray-200 hover:text-black">
        <span>My Profile</span>
      </a>
      <a class="flex flex-row justify-start items-center text-sm p-2 gap-2 border-round-bottom-xl hover:transition hover:duration-300 hover:bg-gray-300 hover:text-black">
        <span>Logout</span>
      </a>

    </div>
  }
</a>


