<div class="flex flex-column justify-content-center align-items-center">
  <p-toast />
  <p-card class="w-full">
    <form #uomForm="ngForm" (ngSubmit)="save()" class="w-full">
      <farmbyte-form-header
        [formMode]="formMode"
        [loading]="uomStore.loading()"
        [disabledSaveBtn]="false"
        [newRecordLink]="'/inventory/uoms/new'"
        [formTitle]="'uom_form_new_title'"
        (cancelChange)="onCancel()"
      />

      <div class="flex flex-row justify-content-start align-items-center gap-3 w-full mt-5">

        <div class="w-6 border-1 border-gray-400 border-round-lg p-5">
          <div class="w-full mb-4">
            <label class="block" for="name">{{'uom_form_name_label' | translate}}</label>
            <input
              type="text"
              id="name"
              pInputText
              required
              name="name"
              ngModel
              [disabled]="uomStore.loading()"
              class="w-full"
              #name="ngModel"
            />
            @if(name?.invalid && (name?.dirty || name?.touched)) {
              @if(name?.hasError('required')) {
                <small class="text-red-500">
                  {{ 'uom_form_name_required_message' | translate}}
                </small>
              }
            }
          </div>
          <div class="w-full mb-4">
              <label class="block" for="ratio">{{ 'uom_form_ratio_label' | translate }}</label>
              <p-inputNumber
                id="ratio"
                [minFractionDigits]="2"
                [maxFractionDigits]="2"
                name="ratio"
                ngModel
                [disabled]="uomStore.loading()"
                class="w-full"
                styleClass="w-full"
                inputStyleClass="w-full"
              />
          </div>
          <div  class="w-full mb-4 p-2"></div>
        </div>

        <div class="w-6 border-1 border-gray-400 border-round-lg p-5">
          <div class="w-full mb-4">
              <label class="block" for="uomCategoryId">{{'uom_form_uom_category_id_label' | translate}}</label>
              <p-autoComplete
                id="uomCategoryId"
                name="uomCategoryId"
                ngModel
                inputId="uomCategoryId"
                [dropdown]="true"
                [suggestions]="filteredResults"
                (completeMethod)="filterUomCategory($event)"
                styleClass="w-full"
                optionLabel="name"
                optionValue="id"
                required
                [disabled]="uomStore.loading()"
                #uomCategoryId="ngModel"
              />
            @if(uomCategoryId?.invalid && (uomCategoryId?.dirty || uomCategoryId?.touched)) {
              @if(uomCategoryId?.hasError('required')) {
                <small class="text-red-500">
                  {{ 'uom_form_uom_category_id_required_message' | translate}}
                </small>
              }
            }
          </div>
          <div class="w-full mb-4">
              <label class="block" for="uomType">{{ 'uom_form_uom_type_label' | translate }}</label>
              <p-dropdown
                [options]="uomTypeOptions"
                name="uomType"
                ngModel
                inputId="value"
                optionLabel="label"
                optionValue="value"
                styleClass="w-full"
                id="uomType"
                required
                [disabled]="uomStore.loading()"
                #uomType="ngModel"
              />
              @if(uomType?.invalid && (uomType?.dirty || uomType?.touched)) {
                @if(uomType?.hasError('required')) {
                  <small class="text-red-500">
                    {{ 'uom_form_uom_type_required_message' | translate}}
                  </small>
                }
              }
          </div>
          <div  class="w-full mb-4 p-2"></div>
        </div>
      </div>
    </form>
  </p-card>
</div>
{{this.uomStore.loading()}}
{{this.uomStore.error()}}
