<div class="flex flex-row justify-content-between align-items-center py-2 mx-auto px-6 border-bottom-3 border-purple-500">
  <div class="flex flex-row justify-content-between align-items-center">
    <div class="flex flex-row justify-content-center mr-6">
      <span class="text-2xl text-purple-500 font-bold">Farmbyte.cm</span>
    </div>
    <farmbyte-navbar-module/>
    <farmbyte-navbar-menu />
  </div>
  <div class="flex flex-row justify-content-end align-items-center gap-3">
    <farmbyte-navbar-language/>
    <farmbyte-navbar-profile/>
  </div>
</div>

