<a id="dropDownMenuItem_{{navbarMenu()?.label}}" (click)="toggleDropDown()"
   class="relative flex text-gray-700 py-1 px-2 cursor-pointer">
  <div class="flex flex-row justify-content-center align-items-center gap-1 hover:text-purple-700">
    <span>{{navbarMenu()?.label || '' | translate }}</span>
    @if(navbarMenu()?.items?.length) {
      <span [ngClass]="isOpen()? 'transition duration-300 -rotate-180 pi pi-chevron-down': 'transition duration-300 rotate-180 pi pi-chevron-up'">
      </span>
    }
  </div>
  @if(isOpen() && navbarMenu()?.items) {
    <div
      [ngClass]="
            isOpen()?
                    'transition ease-out duration-1000 transform opacity-100 scale-100' :
                    'transition ease-in duration-1000 transform opacity-0 scale-10'
      "
      class="absolute top-full mt-2.5rem w-15rem border-top-2 border-purple-500 border-round-bottom-xl bg-white shadow-6 z-3"
      style="margin-top: 2.5rem"
    >
      @for(navbarMenuItem of navbarMenu()?.items; track navbarMenuItem.label; let index=$index) {
        <a [routerLink]="navbarMenuItem.link"
           [ngClass]="isLastSubMenu(index, navbarMenu())? 'border-round-bottom-xl': ''"
           class="block text-gray-700 text-sm p-2 no-underline hover:transition hover:duration-300 hover:bg-purple-500 hover:text-white ">
          {{navbarMenuItem.label | translate}}
        </a>
      }
    </div>
  }
</a>

