<li (click)="onSelectSidebarMenu(sidebarMenu())"
    [ngClass]="sidebarStore.selectedSidebarMenu()?.link === sidebarMenu()?.link? 'bg-opacity-10 bg-gray-100 text-yellow-500': ''"
    class="flex flex-row justify-start items-center gap-2 p-2 my-2 w-full rounded-lg hover:bg-gray-100 hover:bg-opacity-10 hover:text-yellow-500 hover:transition-all hover:ease-linear hover:duration-500 cursor-pointer">
  <span class="material-symbols-outlined">{{ sidebarMenu()?.icon }}</span>
  <span
      [ngClass]="navbarStore.toggleSidebar()? 'md:hidden transition-all duration-300 ease-linear': 'md:block transition-all duration-300 ease-linear'"
      class="xm:hidden md:block">
    {{ sidebarMenu()?.label }}
  </span>
</li>
