<div class="flex flex-column justify-content-center align-items-center">
  <p-toast />
  <p-card class="w-full">
    <form #uomForm="ngForm" (ngSubmit)="save(uomForm)" class="w-full">
      <farmbyte-form-header
        [formMode]="formMode"
        [loading]="uomStore.loading()"
        [disabledSaveBtn]="uomForm.invalid || uomForm.pending"
        [newRecordLink]="'/inventory/uoms/new'"
        [formTitle]="'uom_form_edit_title'"
        (editChange)="onEdit()"
        (cancelChange)="onCancel()"
      />

      <div class="flex flex-row justify-content-start align-items-center gap-3 w-full mt-5">
        <input type="hidden" name="id" [ngModel]="uomStore.selectedUom()?.id">
        <div class="w-6 border-1 border-gray-400 border-round-lg p-5">
          <div class="w-full mb-4">
            <label class="block" for="name">{{'uom_form_name_label' | translate}}</label>
            <input
              type="text"
              id="name"
              name="name"
              pInputText
              required
              [disabled]="formMode === FormMode.READ"
              [ngModel]="uomStore.selectedUom()?.name"
              class="w-full"
              #name="ngModel"
            />
            @if(name?.invalid && (name?.dirty || name?.touched)) {
              @if(name?.hasError('required')) {
                <small class="text-red-500">
                  {{ 'uom_form_name_required_message' | translate}}
                </small>
              }
            }
          </div>
          <div class="w-full mb-4">
            <label class="block" for="ratio">{{ 'uom_form_ratio_label' | translate }}</label>
            <p-inputNumber
                 id="ratio"
                 [ngModel]="uomStore.selectedUom()?.ratio"
                 name="ratio"
                 [minFractionDigits]="2"
                 [maxFractionDigits]="2"
                 class="w-full"
                 styleClass="w-full"
                 inputStyleClass="w-full"
                 [disabled]="formMode === FormMode.READ"
            />
          </div>

          <div  class="w-full mb-4">
            <p-checkbox
              [ngModel]="uomStore.selectedUom()?.active"
              name="active"
              [binary]="true"
              id="active"
              [disabled]="formMode === FormMode.READ"
            />
            <label for="active"> {{'uom_form_active_label' | translate}}</label>
          </div>
        </div>

        <div class="w-6 border-1 border-gray-400 border-round-lg p-5">
          <div class="w-full mb-4">
            <label class="block" for="uomCategoryId">{{'uom_form_uom_category_id_label' | translate}}</label>
            <p-autoComplete
              id="uomCategoryId"
              [ngModel]="uomStore.findUomCategoryById(uomStore.selectedUom()?.uomCategoryId ?? '')()"
              name="uomCategoryId"
              dataKey="id"
              optionLabel="name"
              [suggestions]="filteredResults"
              [virtualScroll]="true"
              (completeMethod)="filterUomCategory($event)"
              styleClass="w-full"
              class="w-full"
              inputStyleClass="w-full"
              required
              [disabled]="formMode === FormMode.READ"
              #uomCategoryId="ngModel"
              />
            @if(uomCategoryId?.invalid && (uomCategoryId?.dirty || uomCategoryId?.touched)) {
              @if(uomCategoryId?.hasError('required')) {
                <small class="text-red-500">
                  {{ 'uom_form_uom_category_id_required_message' | translate}}
                </small>
              }
            }
          </div>
          <div class="w-full mb-4">
            <label class="block" for="uomType">{{ 'uom_form_uom_type_label' | translate }}</label>
            <p-dropdown
              [options]="uomTypeOptions"
              [ngModel]="uomStore.selectedUom()?.uomType"
              name="uomType"
              inputId="value"
              optionLabel="label"
              optionValue="value"
              styleClass="w-full"
              id="uomType"
              required
              [disabled]="formMode === FormMode.READ"
              #uomType="ngModel"
            />
            @if(uomType?.invalid && (uomType?.dirty || uomType?.touched)) {
              @if(uomType?.hasError('required')) {
                <small class="text-red-500">
                  {{ 'uom_form_uom_type_required_message' | translate}}
                </small>
              }
            }
          </div>
          <div  class="w-full mb-4 p-2"></div>
        </div>
      </div>
    </form>
  </p-card>
</div>
