<div class="flex flex-column justify-content-center align-items-center">
  <p-toast />
  <p-card class="w-full">
    <form [formGroup]="uomForm" (ngSubmit)="save()" class="w-full">
      <farmbyte-form-header
        [formMode]="formMode"
        [loading]="uomStore.loading()"
        [disabledSaveBtn]="uomForm.invalid || uomForm.pending"
        [newRecordLink]="'/inventory/uoms/new'"
        [formTitle]="'uom_form_edit_title'"
        (editChange)="onEdit()"
        (cancelChange)="onCancel()"
      />

      <div class="flex flex-row justify-content-start align-items-center gap-3 w-full mt-5">
        <input type="hidden" formControlName="id">
        <div class="w-6 border-1 border-gray-400 border-round-lg p-5">
          <div class="w-full mb-4">
            <label class="block" for="name">{{'uom_form_name_label' | translate}}</label>
            <input type="text" id="name" pInputText formControlName="name" class="w-full" />
            @if(name?.invalid && (name?.dirty || !name?.untouched)) {
              @if(name?.hasError('required')) {
                <small class="text-red-500">
                  {{ 'uom_form_name_required_message' | translate}}
                </small>
              }
            }
          </div>
          <div class="w-full mb-4">
            <label class="block" for="ratio">{{ 'uom_form_ratio_label' | translate }}</label>
            <p-inputNumber id="ratio" formControlName="ratio"
                           [minFractionDigits]="2" [maxFractionDigits]="2" class="w-full" styleClass="w-full" inputStyleClass="w-full" />
          </div>

          <div  class="w-full mb-4">
            <p-checkbox
              formControlName="active"
              [binary]="true"
              id="active" />
            <label for="active"> {{'uom_form_active_label' | translate}}</label>
          </div>
        </div>

        <div class="w-6 border-1 border-gray-400 border-round-lg p-5">
          <div class="w-full mb-4">
            <label class="block" for="uomCategoryId">{{'uom_form_uom_category_id_label' | translate}}</label>
            <p-autoComplete
              id="uomCategoryId"
              formControlName="uomCategoryId"
              dataKey="id"
              optionLabel="name"
              [suggestions]="filteredResults"
              [virtualScroll]="true"
              (completeMethod)="filterUomCategory($event)"
              styleClass="w-full"
              class="w-full"
              inputStyleClass="w-full"
              />
            @if(uomCategoryId?.invalid && (uomCategoryId?.dirty || !uomCategoryId?.untouched)) {
              @if(uomCategoryId?.hasError('required')) {
                <small class="text-red-500">
                  {{ 'uom_form_uom_category_id_required_message' | translate}}
                </small>
              }
            }
          </div>
          <div class="w-full mb-4">
            <label class="block" for="uomType">{{ 'uom_form_uom_type_label' | translate }}</label>
            <p-dropdown
              [options]="uomTypeOptions"
              formControlName="uomType"
              inputId="value"
              optionLabel="label"
              optionValue="value"
              styleClass="w-full"
              id="uomType" />
            @if(uomType?.invalid && (uomType?.dirty || !uomType?.untouched)) {
              @if(uomType?.hasError('required')) {
                <small class="text-red-500">
                  {{ 'uom_form_uom_type_required_message' | translate}}
                </small>
              }
            }
          </div>
          <div  class="w-full mb-4 p-2"></div>
        </div>
      </div>
    </form>
  </p-card>
</div>
