<div class="flex flex-column justify-content-center align-items-center">
  <p-toast />
  <p-card class="w-full">

    <form [formGroup]="uomCategoryForm" (ngSubmit)="save()" class="w-full">
     <div class="flex flex-row justify-content-between align-items-center w-full">
       <p class="text-2xl w-3/12">{{'uom_category_form_title' | translate}}</p>
       <div class="flex flex-row justify-content-end align-items-center gap-3 w-9/12">
         @if(uomCategoryStore.formMode() === FormMode.WRITE.valueOf()) {
           <p-button type="submit" [icon]="uomCategoryStore.loading()? 'pi pi-spin pip-spinner': 'pi pi-check'"  size="small" class="font-normal mr-1" [disabled]="uomCategoryForm.invalid || uomCategoryForm.pending" [rounded]="true" label="{{'form_button_label_save' | translate}}"/>
           <p-button type="button" (click)="cancel()" icon="pi pi-times" size="small" severity="secondary" [rounded]="true" label="{{'form_button_label_cancel' | translate}}"/>
         } @else {
           <p-button type="button" icon="pi pi-plus" routerLink="/inventory/uom-categories/new" size="small" class="mr-1" [rounded]="true" label="{{'form_button_label_create' | translate}}"/>
           <p-button type="button" (click)="edit()" icon="pi pi-pencil" size="small" severity="secondary" class="mr-1" [rounded]="true" label="{{'form_button_label_edit' | translate}}"/>
         }
       </div>
     </div>
      <div class="flex flex-row justify-content-start align-items-center gap-3 w-full mt-5">
        <input type="hidden" formControlName="id">
        <input type="hidden" formControlName="parentUomCategoryId">
        <input type="hidden" formControlName="active">
        <div class="w-full">
          <label for="name">{{'uom_category_form_name_label' | translate}}</label>
          <input type="text" id="name" pInputText formControlName="name" class="w-full" />
          @if(name?.invalid && (name?.dirty || !name?.untouched)) {
            @if(name?.hasError('required')) {
              <small class="text-red-500">
                {{ 'uom_category_form_name_required_message' | translate}}
              </small>
            }
          }
        </div>
      </div>
    </form>
  </p-card>
</div>
