/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/themes/lara-light-purple/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.min.css";
@import "primeicons/primeicons.css";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.mt-2\.5rem {
  margin-top: 2.5rem !important;
}

.mt-2\.7rem {
  margin-top: 2.7rem !important;
}

.size-1\.5rem {
  width: 1.5rem;
  height: 1.5rem;
}

.size-2rem {
  width: 2rem;
  height: 2rem;
}

.object-cover {
  object-fit: cover;
}

.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}
