<a id="dropDownMenuItem_{{navbarMenu()?.label}}" (click)="toggleDropDown()" class="relative flex text-gray-500 py-1 px-2 cursor-pointer" >
  <div class="flex flex-row justify-center items-center gap-1">
    <span class="hover:text-orange-700">{{navbarMenu()?.label}}</span>
    @if(navbarMenu()?.items?.length) {
      <span [ngClass]="isOpen()? 'transition duration-300 -rotate-180': 'transition duration-300 rotate-180'" class="material-symbols-outlined">{{isOpen()? 'keyboard_arrow_down' : 'keyboard_arrow_up'}}</span>
    }
  </div>
  @if(isOpen() && navbarMenu()?.items?.length) {
    <div
      [ngClass]="isOpen()? 'transition ease-out duration-1000 transform opacity-100 scale-100' : 'transition ease-in duration-1000 transform opacity-0 scale-10'"
      class="absolute top-full mt-2 w-60  bg-white shadow-lg z-10">
      @for(navMenuItem of navbarMenu()?.items; track navMenuItem.label) {
        <a routerLink="{{navMenuItem.link}}" class="block text-sm p-2 hover:transition hover:duration-300 hover:bg-orange-700 hover:text-white">{{navMenuItem.label}}</a>
      }
    </div>
  }
</a>
