<div class="card w-full">
  <farmbyte-tree-header title="product_category_tree_title" link="/inventory/product-categories/new"/>
  <farmbyte-tree-search  />
  <p-table [resizableColumns]="true" [value]="productCategoryStore.productCategoryEntities()" styleClass="p-datatable-striped">
    <ng-template pTemplate="header">
      <tr>
        @for(column of columns(); track column.name) {
          <th  pSortableColumn="{{column.name}}">
            {{ column.label | translate }}
            <p-sortIcon field="{{column.name}}"/>
          </th>
        }
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-productCategory>
      <tr>
        <td class="w-3 p-0 pl-2">{{ productCategory.name }}</td>
        <td class="w-3 p-0 pl-2">{{ getProductCategoryName(productCategory.parentProductCategoryId)()?.name }}</td>
        <td class="w-6 p-0">
          <farmbyte-table-colum-action-button
            (editChange)="edit(productCategory.id)"
            (deleteChange)="delete(productCategory.id)"
          />
        </td>
      </tr>
    </ng-template>
  </p-table>
  @if(productCategoryStore.totalElements() === 0) {
    <farmbyte-no-data-found message="product_category_tree_no_data_found"/>
  } @else {
    <div class="flex align-items-center justify-content-end">
      <span class="mx-1 text-color">{{'paginator_item_per_page' | translate}}: </span>
      <p-dropdown [options]="pageSizeOptions()" optionLabel="label" optionValue="value" (onChange)="onListChange($event)" [(ngModel)]="rows" (ngModelChange)="first = signal(0)" />
      <p-paginator [first]="first()" [rows]="rows()" [totalRecords]="productCategoryStore.totalElements()" (onPageChange)="onPageChange($event)" [showCurrentPageReport]="true"
                   currentPageReportTemplate="{{'paginator_page_report' | translate}}" [showPageLinks]="false" [showFirstLastIcon]="true" ></p-paginator>
    </div>
  }
</div>



