<div class="overflow-y-auto ">
  <ul class="list-none p-3 m-0">
    <li>
      <ul class="list-none p-0 m-0 overflow-hidden">
        <li>
          <a pRipple class="flex align-items-center cursor-pointer p-3 border-round text-primary hover:surface-100 transition-duration-150 transition-colors p-ripple">
            <i class="fa fa-home mr-2"></i>
            <span class="font-medium">Tableau de bord</span>
          </a>
        </li>
        <li>
          <a pRipple class="flex align-items-center cursor-pointer p-3 border-round text-primary hover:surface-100 transition-duration-150 transition-colors p-ripple">
            <i class="fa fa-bookmark mr-2"></i>
            <span class="font-medium">Inventaire</span>
          </a>
        </li>
        <li>
          <a pRipple class="flex align-items-center cursor-pointer p-3 border-round text-primary hover:surface-100 transition-duration-150 transition-colors p-ripple">
            <i class="fa fa-users mr-2"></i>
            <span class="font-medium">Parcelle</span>
          </a>
        </li>
        <li>
          <a pRipple class="flex align-items-center cursor-pointer p-3 border-round text-primary hover:surface-100 transition-duration-150 transition-colors p-ripple">
            <i class="fa fa-comments mr-2"></i>
            <span class="font-medium">Achat</span>
          </a>
        </li>
        <li>
          <a pRipple class="flex align-items-center cursor-pointer p-3 border-round text-primary hover:surface-100 transition-duration-150 transition-colors p-ripple">
            <i class="fa fa-calendar mr-2"></i>
            <span class="font-medium">Vente</span>
          </a>
        </li>
        <li>
          <a pRipple class="flex align-items-center cursor-pointer p-3 border-round text-primary hover:surface-100 transition-duration-150 transition-colors p-ripple">
            <i class="fa fa-cog mr-2"></i>
            <span class="font-medium">Configuration</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>

</div>
