<div class="menus flex flex-row gap-2">
  <div>
    <p-menu #menu [model]="items" [popup]="true" />
    <p-button (onClick)="menu.toggle($event)"  label="Organisation"  icon="fa fa-angle-down" iconPos="right"/>
  </div>
  <div>
    <p-menu #menu [model]="items" [popup]="true" />
    <p-button (onClick)="menu.toggle($event)" label="Reporting"  icon="fa fa-angle-down" iconPos="right"/>
  </div>
  <div>
    <p-menu #menu [model]="items" [popup]="true" />
    <p-button (onClick)="menu.toggle($event)" label="Configuration"  icon="fa fa-angle-down" iconPos="right"/>
  </div>
</div>
